.theme-switcher {
    display: flex;
    align-items: center;

    .theme-switcher__button {
        background-color: transparent;
        border: 0;
        color: var(--title-text-color);
        font-size: var(--font-scale-1);
        height: auto;
        display: flex;
        cursor: pointer;
    }
}